@CHARSET "UTF-8";
*{
	padding:0;
	margin:0;
}
/*所有网区域 尺寸和位置*/
.toptop{
	background-color:#eee;
}
 .top-box {
    width: 1200px;
    height: 145px;
    background: url() repeat-x;
    position:relative;
    left: 0;
    top: 0;
    z-index: 6;
    top:-15px;
    left:-120px;
    
}

.top {
    width: 1200px;
    height: 145px;
    margin: 0 auto;
}
.top-right {
    float: right;
}

.top-admin {
    font: normal 14px/32px "Microsoft Yahei";
    margin-top: 16px;
    padding-right: 14px;
    float: right;
    margin-bottom: 15px;
}
.top-userstatus {
    float: left;
}

a, a:hover {
    text-decoration: none;
    color: #333;
}

.top-admin.top-userstatus a {
    float: left;
    color: #fff;
    text-shadow: #666 1px 1px 0;
}
#back_menu
{
 height:50px;
 width:1348px;
 margin:72px 0 0 0;
 
}
#menu
{
  font-family: "微软雅黑","文泉驿正黑","黑体";
  font-size:15px;
  line-height:1.5;
  height:50px;
  width:680px;
  background:transparent;
  margin:0 0 0 670px; 
  font-weight:bold;
  position:relative;
  top:-1px;
  left:-20px;
}
#menu ul
{
    margin:0 0 0 0;
    padding:0;
    list-style:none;
    width:680px;
    
    position:relative;
    
}
#menu ul li
{
    background:transparent;    
    height:50px;
    line-height:50px;
    
    text-align:center;
    float:left;
    width:80px;
    margin-right:5px   
}
#menu ul li a
{
    color:#000;
    text-decoration:none;
    display:block;
    width:80px;
    height:50px;
    border-bottom:1px solid #ccc;
    margin:0 0 0 0;
   
}
#menu ul li a:hover
{
      color:#CCC;
      position:relative;
      left:0px;
      top:5px;
      padding:0 0 0 5px;   
      
}

#menu ul li ul
{ 
 display:none;
 width:80px;
}
#menu ul li.listshow ul
{
 display:block;
 }
#menu ul li ul li
{
float:none;
width:80px;
margin:0;
background-color:#AAA;
background:rgba(255,255,255,0.6);

}
#menu ul li ul li a
{
 background:none;
 width:80px;
 color:#202020;


}
#menu ul li ul li a:hover
{

 color:#4F4F4F;
 opacity:1;

}
#menu ul li >#logo
{
height:50px;
width:51px;
background-image:url("../img/timg.png");
margin:0 auto;
border:0px;
}





div{
	
  
	margin:0 auto;
}
.news-info {
    height: 30px;
    border-bottom: 1px dotted #dadada;
}

.news-info p .tags{
   color:#ae8f18;
}



.news-info .tags i {
    display:inline-block;
    *zoom:1;
    *display:inline;
    margin:0 3px;
}
.news-info p.tags {
	color:#ae8f18;
	}
.tops{
	width:100%;
	height:100px;
	background-color:#EEE;

}
.slipimg{
	
	width:1080px;
	height:150px;
	margin:0px auto;
}
.position{
	width:1080px;
	height:40px;
	color:#909090;
	font-size:12px;
}
.main{
	width:1080px;
	height:2960px;
	margin-bottom:50px;
}
.main>.content{
	width:790px;
	height:1930px;
	float:left;
}
.main>.dynamic{
	width:250px;
	height:960px;
	float:right;
}
.main>.dynamic>.ad{
	width:238px;
	height:220px;
	float:top;
}
.main>.dynamic>.ticket{
	
	width:238px;
	height:270px;
	float:top;

}


.main>.dynamic>.info{
	width:238px;
	height:220px;
	float:top;
}

.buybuy{
	width:250px;
	height:190px;
}
.silder-lstinfor{ 
/* 	float:left;  */
	padding-right:18px;
	
	}
.buy{
	
	float:left;
	padding-right:23px;

	width:100px;
	height:190px;
	top:548px;
	right:440px;
}	
	
	
	
	
.silder-lstinfor h3{ 
	font-size: 14px;  color: #666; 
	white-space: nowrap; overflow: hidden; 
	text-overflow: ellipsis;}	

.silder-lstinfor label{ 
font-size: 16px; color: #df0011; 
display: block; padding-top: 18px;}
	
.silder-lstinfor label em{
	 font-size: 12px;}
	
.silder-lstinfor .ydbtn{ 
	display: block;
	border: 1px solid #ae8f18;
	border-radius: 5px;
	height: 23px;
	width: 75px;
	text-align: center;
	line-height: 23px;
	display: block;
	margin-top: 8px;
	color: #ae8f18;
	}

.main>.dynamic>.photo{
	width:238px;
	height:180px;
	float:top;
	background:url(../images/introduce/i1.jpg);
}

.main>.dynamic>.photo span {
	
	float: right; 
	width: 70px; 
	text-align: center; 
	margin-right: 20px;
	margin-top: 50px;
}


.main>.dynamic>.photo span h4{
	
	font-size: 14px; 
	color: #ae8f18; 
	padding-bottom: 10px;
}




.silder-list2 li{ width: 33%; 
float: left; 
border-bottom: 1px solid #f2f2f2; 
border-right: 1px solid #f2f2f2;
padding:10px 0px; 
 text-align: center;  }
.silder-list2 li:nth-child(3),.silder-list2 li:nth-child(6){ 
	border-right:none;}
.silder-list2 li a:hover{ 
	color: #ae8f18;}
.silder-list2 li a{ 
	color: #666;}
.silder-list2 li span a{ 
	display: block; 
	width: 43px;
	height: 39px; 
	margin: 0 auto;}
.silder-list2 li label{ 
	display: block; 
	margin-top: 3px;}

.silder-list2 li:nth-child(1) span a{ 
	background:url("../images/introduce/111.jpg") no-repeat;  
	}
.silder-list2 li:nth-child(1) span a:hover{ 
	background:url("../images/introduce/111.jpg") no-repeat; 
	}
.silder-list2 li:nth-child(2) span a{
	background:url("../images/introduce/222.jpg") no-repeat;  
	}
.silder-list2 li:nth-child(2) span a:hover{
	background:url("../images/introduce/222.jpg") no-repeat; 
	}
.silder-list2 li:nth-child(3) span a{ 
	background:url("../images/introduce/333.jpg") no-repeat;  
	}
.silder-list2 li:nth-child(3) span a:hover{ 
	background:url("../images/introduce/333.jpg") no-repeat; 
	}
.silder-list2 li:nth-child(4) span a{ 
	background:url("../images/introduce/444.jpg") no-repeat;  
	}
.silder-list2 li:nth-child(4) span a:hover{
	background:url("../images/introduce/444.jpg") no-repeat; 
	}
.silder-list2 li:nth-child(5) span a{
	background:url("../images/introduce/555.jpg") no-repeat;  
	}
.silder-list2 li:nth-child(5) span a:hover{
	background:url("../images/introduce/555.jpg") no-repeat; 
	}
.silder-list2 li:nth-child(6) span a{ 
	background:url("../images/introduce/666.jpg") no-repeat;  
	}
.silder-list2 li:nth-child(6) span a:hover{
	background:url("../images/introduce/666.jpg") no-repeat; 
	}
.silder-content2{ 
	background:url("../images/introduce/i1.jpg") no-repeat; 
	width: 278px; 
	height: 130px; 
	border: 1px solid #e7e7e7; 
	margin-top: 10px;
    margin-bottom: 10px; 
    }



.copy{
	background-color:#454545;
	width:100%;
	height:100px;
}

